#buttons{
    justify-content: center;
};

#input-btn{
    justify-content: center;
}

#input-form{

    justify-content: center;
}

#gifs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
